<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="de.jebc.tutorial.visibility.assist.VisibilityAssist"
            id="de.jebc.tutorial.visibility.visibilityQuickAssist"
            name="Change Visibility">
      </quickAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="de.jebc.tutorial.visibility.contribution1"
            objectClass="org.eclipse.jdt.core.IMethod">
         <menu
               id="de.jebc.tutorial.visibility.menu1"
               label="Change visibility"
               path="group.reorganize">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="de.jebc.tutorial.visibility.popup.actions.MakeMethodPublicAction"
               enablesFor="1"
               id="de.jebc.tutorial.visibility.newAction"
               label="Make public"
               menubarPath="de.jebc.tutorial.visibility.menu1/group1">
         </action>
      </objectContribution>
   </extension>

</plugin>
